<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="1" />
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ENV" value="DEBUG" />
    <add key="DoDebug" value="false" />
    <add key="IsBiggieSmalls" value="true" />
    <add key="IS_TA_ENV" value="false" />
    <add key="BSI_AUTH_ENDPOINT" value="https://test.salesforce.com/services/oauth2/token" />
    <add key="BSI_CLIENT_KEY" value="3MVG98dostKihXN4xzr7fn85NE44NgIrJCKo2ECIooFTjKLMFotSqvmwOmkSgbhfDp_vdVD8eFwMYt6u4U0wD" />
    <add key="BSI_CLIENT_SECRET" value="9186004188738656401" />
    <add key="BSI_USERNAME" value="fes_sa1@franklinenergy.com.uat" />
    <add key="BSI_PASSWORD" value="jS86par!" />
    <add key="BSI_TOKEN" value="YcAxc4YxbxCgQznhCMK19EuLk" />
    <add key="BSI_MAX_RETRIES" value="5" />
    <add key="SlimCd_ClientId" value="1032" />
    <add key="SlimCd_FormName" value="FranklinEnergy" />
    <add key="SlimCd_SiteId" value="228226448" />
    <add key="SlimCd_PriceId" value="74" />   
    <add key="SlimCdShowSessionUrl" value="https://stats.slimcd.com/soft/showsession.asp?sessionid=" />
    <add key="SlimCdEndpoint" value="https://stats.slimcd.com/soft/json/jsonscript.asp?service=" />
    <add key="SlimCdTransactionEndpoint" value="https://trans.slimcd.com/soft/json/jsonscript.asp?service=" />
    

    <!--DEV-->
    <add key="lookupServiceUrl" value="https://fes-dev-cb-lookup.azurewebsites.net" />
    <!--LOCAL-->
    <!--<add key="lookupServiceUrl" value="http://localhost:51455" />-->
    <add key="lookupServiceIgnoreError" value="true" />
    <add key="dataRepositoryServiceUrl" value="https://fes-dev-data-repository.azurewebsites.net/" />
    <add key="dataRepositoryPasscode" value="17379929-6ec2-452d-af9a-6b9bcd0aae18" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!--TA-->
    <add key="taLogInUrl" value="http://fes-dev-engage.azurewebsites.net/Account/TAClipboardLogIn/Login" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="FieldToolStagingEntities" connectionString="metadata=res://*/FieldToolEntities.csdl|res://*/FieldToolEntities.ssdl|res://*/FieldToolEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVER03;initial catalog=FieldToolStaging;persist security info=True;user id=EfficiencyClipboard;password=Effcl1p201$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FieldToolStagingEntities" connectionString="metadata=res://*/FieldToolEntities.csdl|res://*/FieldToolEntities.ssdl|res://*/FieldToolEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=20151124_fes-dev-cb-lookup;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClipBoardUpload" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=ClipBoardUpload_local_v2;Integrated Security=True;Application Name=ClipBoardUpload" />
    <add name="xxClipBoardUpload" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=ClipBoardUpload_local_v2;User ID=franklinadmin@nmqhqbdy0c;Password=a*btV~(q5W,MpW{;Application Name=ClipBoardUpload" />
    <add name="ClipboardAzureStorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=efficiencyclipboard;AccountKey=11ug6OAH7SjBiaRkZglsXIfo54n+guJreo64WuHHrdIThU7iasZgdWO2vfoVrh4cc2VNnNBaySBTfHavfZvKrw==" />
  </connectionStrings>
</configuration>