<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ClipBoardUpload" connectionString="Server=tcp:d27gj4yn74.database.windows.net,1433;Database=fes-dev-cb-lookup;User ID=franklinadmin@d27gj4yn74;Password=A11th3Th1n$s;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AzureTableStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=fesdevportal;AccountKey=rtUqX2Q9/90vnz/bAGkE6UXyIeOiU/jajr+wW3B/95gvEZJkyNXRE2Da3Zj+I7JM6OHicJ/+9s1UM3kUHRJRUw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!-- if limitENRegisterEmailToFranklinEnergy is set to true, registration emails will only be sent to email addresses with the '@franklinenergy.com' extension -->
    <add key="limitENRegisterEmailToFranklinEnergy" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BSI_AUTH_ENDPOINT" value="https://test.salesforce.com/services/oauth2/token"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BSI_CLIENT_KEY" value="3MVG98dostKihXN4xzr7fn85NE44NgIrJCKo2ECIooFTjKLMFotSqvmwOmkSgbhfDp_vdVD8eFwMYt6u4U0wD"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BSI_CLIENT_SECRET" value="9186004188738656401"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BSI_USERNAME" value="fes_sa1@franklinenergy.com.uat"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BSI_PASSWORD" value="jS86par!"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BSI_TOKEN" value="Mu82ROLKZ8SPR6YTa8ImqLbh"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClipboardAzureStorageContainer" value="clipboard-data-dev"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <loggly
        xmlns="Loggly"
        applicationName="ClipboardLookup"
        customerToken="fc0206b6-5c0d-4234-aa08-f224a937985f"
        throwExceptions="true"
        xdt:Transform="Replace">

    <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443" />

    <tags>
      <simple>
        <tag value="debug" />
      </simple>
      <complex>
        <tag type="Loggly.HostnameTag" formatter="host-{0}" />
        <tag type="Loggly.ApplicationNameTag" formatter="{0}" />
      </complex>
    </tags>
  </loggly>
</configuration>